img.large {
  display: block;
  margin: .75em auto;
  padding: 0.5em;
  border: 1px solid #CCC;
  background: white;
}

.what, .at, 
.place, .city {
  display: block;
  color: #595959;
  font-family: 'AmericanTypewriter';
  font-size: .75em;
  text-align: center;
}
 
.place {
  font-weight: bold;
}

.city {
  display: inline;
}

.business-wrapper {
  width: 85%;
  font-family: 'Arial';
  text-align: left;
  color: #666;
}

.business-wrapper h2 {
	font-family: 'AmericanTypewriter';
  font-weight: bold;
  font-size: .9em;
}

.business-wrapper span,
.business-wrapper a {
  font-size: .75em;
  display: block;
}

.business-wrapper .place {
  font-family: 'Copperplate';
  font-size: 1.1em;
  font-weight: bold;
  color: #415D75;
}

h3 {
  font-family: 'AmericanTypewriter';
  font-weight: bold;
  font-size: .85em;
  color: #666;
  text-align: center;
}

.x-dataview-business img + .what {
  width: 90%;
  margin: 0 auto 1em auto;
  padding: .2em;
  background: #f2f2f2;
  -webkit-box-shadow: 5px 5px 8px #888;
}

.x-dataview-myphotos-tab-view,
.x-dataview-images-view {
  padding: .5em;
}

.image {
	float: left;
	width: 69px;
  height: 69px;
  background: #ccc;
  margin: .2em;
  border: 1px solid #ccc;
}

.x-sheet-image-detail {
	background: #f2f2f2;
  border: none;
  -webkit-border-top-left-radius: .5em;
  -webkit-border-top-right-radius: .5em;
  -webkit-border-bottom-left-radius: 0;
}

.x-sheet-image-detail h3 {
	margin-bottom: .2em;
}

.x-sheet-image-detail .image {
	width: 67px;
  height: 67px;
}

.x-sheet-image-detail img.large {
  display: block;
  margin: .75em auto;
  padding: 0.5em;
  border: 1px solid #CCC;
  background: white;
}

#uploaded-image {
	display: block;
  margin: 0 auto;
  padding: .2em;
  border: 1px solid #ccc;
}