$base-color: #404040;
$base-gradient: 'glossy';
$active-color: #214E9C;
$tabs-dark-active-color: #336fd4;
$tabs-bottom-active-gradient: 'bevel';

@import 'sencha-touch/default/all';

//include all the components we need styling for
@include sencha-panel;
@include sencha-buttons;
@include sencha-toolbar;
@include sencha-list;
@include sencha-sheet;
@include sencha-carousel;
@include sencha-layout;
@include sencha-form;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-loading-spinner;
@include sencha-msgbox;

@include pictos-iconmask(photo1);
@include pictos-iconmask(photos2);

.x-list-citypicker .x-list-item {
	border-bottom: 1px solid #dfdfdf;
}

.business-wrapper {
  width: 85%;
  font-family: 'Arial';
  text-align: left;
  color: #666;
  margin-bottom: 1em;
}

.business-wrapper h2 {
	font-family: 'AmericanTypewriter';
  font-weight: bold;
  font-size: .9em;
}

.business-wrapper span,
.business-wrapper a {
  font-size: .75em;
  display: block;
}

.business-wrapper span.phone {
	font-size: .8em;
}

.business-wrapper .place {
  font-family: 'Copperplate';
  font-size: 1.1em;
  font-weight: bold;
  color: #415D75;
}

h3 {
  font-family: 'AmericanTypewriter';
  font-weight: bold;
  font-size: .85em;
  color: #666;
  text-align: center;
}

.x-dataview-business img + .what {
  width: 90%;
  margin: 0 auto 1em auto;
  padding: .2em;
  background: #f2f2f2;
  -webkit-box-shadow: 5px 5px 8px #888;
}

.x-dataview-images-view {
  padding: .5em;
}

.x-dataview-images-view .image,
.x-sheet-image-detail .x-dataview-business-images .image {
	float: left;
  width: 69px;
  height: 69px;
  background: #ccc;
  margin: .2em;
  border: 1px solid #ccc;
  -webkit-background-size: 100% 100%;
}

.x-sheet-image-detail {
	background: #f2f2f2;
  border: none;
  -webkit-border-top-left-radius: .5em;
  -webkit-border-top-right-radius: .5em;
  -webkit-border-bottom-left-radius: 0;
}

.x-sheet-image-detail h3 {
	margin-bottom: .2em;
}

.x-sheet-image-detail .what {
  display: block;
  color: #595959;
  font-family: 'AmericanTypewriter';
  font-size: .75em;
  text-align: center;
}

.x-sheet-image-detail .image {
  margin: .75em auto;
  padding: 0.5em;
  border: 1px solid #CCC;
  background: white; 
}

.x-sheet-image-detail .x-dataview-business-images .image {
  padding: 0;
  width: 67px;
  height: 67px;
}

#uploaded-image {
	display: block;
  margin: 0 auto;
  padding: .2em;
}

#uploaded-image img {
  display: block;
  margin: 0 auto;
}

.x-dataview-places {
	text-align: left;
  font-family: 'Helvetica';
  color: #666;
}

.x-dataview-places div.place-wrapper {
	padding: .2em;
  border-bottom: 1px solid #ccc;
  min-height: 50px;
}

.x-dataview-places .place {
  font-weight: bold;
  font-size: .7em;
}

.x-dataview-places .category {
	font-size: .6em;
}

.empty {
	background: url(../images/empty@2x.png) no-repeat top left;
  -webkit-background-size: 320px 480px;
}

.logout {
	-webkit-mask-image: theme_image("default", "pictos/user_remove2.png");
}

.login-panel {
	background: url(../images/login-panel@2x.png) no-repeat top left;
  -webkit-background-size: 320px 480px;
}

.facebook-login {
	background: url(../images/facebook-login-btn@2x.png) no-repeat top left;
  -webkit-background-size: 261px 41px;
  width: 261px;
  height: 41px;
}