$base-color: #404040;
$base-gradient: 'glossy';
$active-color: #214E9C;
$tabs-dark-active-color: #336fd4;
$tabs-bottom-active-gradient: 'bevel';
$loading-spinner-color: #ffffff;

@import 'sencha-touch/default/all';

//include all the components we need styling for
@include sencha-panel;
@include sencha-buttons;
@include sencha-toolbar;
@include sencha-list;
@include sencha-sheet;
@include sencha-carousel;
@include sencha-layout;
@include sencha-form;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-loading-spinner;
@include sencha-msgbox;
@include sencha-list-pullrefresh;
@include sencha-list-paging;

@include pictos-iconmask(photo1);
@include pictos-iconmask(photos2);

.x-list-citypicker .x-list-item {
	border-bottom: 1px solid #dfdfdf;
}

.business-wrapper, .what, .time {
  width: 306px;
  margin: .5em auto;
}

.business-wrapper {
	padding: .5em;
  text-align: left;
  color: #666;
	background: #fff;
	-webkit-border-radius: .5em;
}

.business-wrapper .taken-at {
	color: #8B8B8B;
	font: bold .7em 'Didact Gothic', sans-serif;
}

.business-wrapper .name {
	color: #2773A7;
	font: bold 'Didact Gothic', sans-serif;
}

.business-wrapper .city-state,
.business-wrapper .phone {
  font: .7em 'Didact Gothic', sans-serif;
  display: block;
	color: #8B8B8B;
}

.business-wrapper span.phone {
	margin-top: .2em;
}

.map {
	-webkit-border-radius: .5em;
	margin: 0 auto 0 auto;
}

h3.more {
	margin: 0 0 .5em 0;
  color: #666;
  text-align: left;
	font: bold .7em 'Didact Gothic', sans-serif;
}

.x-dataview-images-view {
  padding: .2em;
}

.x-dataview-business-images {
	margin: 1em auto 0em auto;
	padding-left: .6em;
}

.x-dataview-images-view .image,
.x-dataview-business-images .image {
	float: left;
  width: 69px;
  height: 69px;
  background: #ccc;
  margin: .25em;
  border: 1px solid #ccc;
  -webkit-background-size: 100% 100%;
}

.x-panel-image-detail {
	background: #f2f2f2;
  border: none;
  -webkit-border-top-left-radius: .5em;
  -webkit-border-top-right-radius: .5em;
  -webkit-border-bottom-left-radius: 0;
}

.x-panel-image-detail .what {
  display: block;
	padding: .5em;
  color: #666;
  font: .7em 'Didact Gothic', sans-serif;
  text-align: center;
	background: #E0E0E0;
	-webkit-border-radius: .5em;
}

.x-panel-image-detail .time {
  text-align: right;
  color: #8B8B8B;
  font: bold .7em 'Didact Gothic', sans-serif;
}

.x-panel-image-detail .image {
  margin: .5em auto;
  border: 1px solid #CCC;
  background: white; 
}

.x-panel-image-detail .x-dataview-business-images .image {
	margin: 0 .5em .5em 0;
  width: 67px;
  height: 67px;
}

#uploaded-image {
	display: block;
  margin: 0 auto;
  padding: .2em;
}

#uploaded-image img {
  display: block;
  margin: 0 auto;
}

.x-dataview-places {
	text-align: left;
  color: #666;
}

.x-dataview-places div.place-wrapper {
	padding: .2em;
  border-bottom: 1px solid #ccc;
  min-height: 50px;
}

.x-dataview-places .place {
  font-weight: bold;
  font-size: .7em;
}

.x-dataview-places .category {
	font-size: .6em;
}

.x-dataview-images-view.x-dataview-my-images.empty {
	background: url(../images/empty@2x.png) no-repeat top left;
  -webkit-background-size: 320px 480px;
}

.x-dataview-images-view.x-dataview-find-food.empty {
	background: url(../images/no-results@2x.png) no-repeat top left;
  -webkit-background-size: 320px 480px;
}

.x-dataview-images-view.x-dataview-find-food.empty .x-list-paging,
.x-dataview-images-view.x-dataview-my-images.empty .x-list-paging {
	display: none;
}

.x-list-paging-no-more {
	display: none;
}

.logout {
	-webkit-mask-image: theme_image("default", "pictos/user_remove2.png");
}

.login-panel {
	background: url(../images/login-panel@2x.png) no-repeat top left;
  -webkit-background-size: 320px 480px;
}

.facebook-login {
	background: url(../images/facebook-login-btn@2x.png) no-repeat top left;
  -webkit-background-size: 261px 41px;
  width: 261px;
  height: 41px;
}

.x-list-pullrefresh-message {
	font-size: 1.2em;
}

.x-list-paging { 
	clear: both;
	padding-top: .5em;
}

.x-list-paging .x-list-paging-msg  {
	width: 10em;
	margin: 1em auto;
	padding: 0.45em 2em;
	-webkit-border-radius: 2px;
	text-align: center;
	vertical-align: baseline;
  background: #dadada -webkit-gradient(linear, center bottom, center top, from(#dadada), to(#c7c7c7));
	color: #575757;
	border-color: #ccc;
	font-size: .6em;
	font-weight: bold;
	box-shadow: 0 0 1px 1px #888;
}

.x-dataview-emptytext {
	font-size: .8em;
}

#grubm-overlay,
#grubm-loading-overlay {
	width: 161px;
	height: 94px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
}

#grubm-overlay .x-mask-message,
#grubm-loading-overlay .x-mask-message {
	font-size: .75em;
}

#grubm-overlay.x-mask .x-mask-inner,
#grubm-loading-overlay.x-mask .x-mask-inner {
	background: rgba(0, 0, 0, 0.5);	
}

#grubm-overlay.x-mask .x-loading-spinner-outer,
#grubm-loading-overlay.x-mask .x-loading-spinner-outer {
	height: 3.5em;
}